<p style="color: green"><%= notice %></p>
<div class="show-item">

  <%= render @book %>

  </div>
<nav class="page-nav">
  <%= link_to t("books.show.Edit this book"), edit_book_path(@book) %> |
  <%= link_to t("books.show.Back to books"), books_path %>
  <%= button_to t("books.show.Destroy this book"), @book, method: :delete %>
</nav>
